{#{% extends 'base.html.twig' %}#}

{% block body %}
    <h1>Richieste</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ richieste.id }}</td>
            </tr>
            <tr>
                <th>Codice</th>
                <td>{{ richieste.codice }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ richieste.descrizione }}</td>
            </tr>
            <tr>
                <th>Datarichiesta</th>
                <td>{% if richieste.dataRichiesta %}{{ richieste.dataRichiesta|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('richieste_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('richieste_edit', { 'id': richieste.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
