<div class="row">
    <div class="col-sm-12">


        <div class="row">
            <div class="col-sm-12">

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Data Nascita</th>
                        <th>CF</th>
                        <th>email</th>
                        <th>Gruppo</th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#{{ dump() }}#}
                    {% for persona in persone %}
                        <tr>
                            <td>{{ persona.nome }}</td>
                            <td>{{ persona.cognome }}</td>
                            <td>{{ persona.dataNascita | date('d/m/Y') }}</td>
                            <td>{{ persona.codiceFiscale }}</td>
                            <td>{{ persona.email }}</td>

                            <td>{% if persona.idGruppo !=null %}
                                    {{ persona.idGruppo.descrizione }}
                                {% endif %}
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        {#<a href="{{ path('persone_show', { 'id': persona.id }) }}">show</a>#}
                                        <a href="#"

                                           onclick="loadFormIntoModal(Routing.generate('persone_show',{id:{{ persona.id }}}));"


                                        >show</a>

                                    </li>
                                    <li>
                                        <a href="#"

                                           onclick="loadFormIntoModal(Routing.generate('persone_edit',{id:{{ persona.id }}}));"


                                        >edit</a>
                                    </li>
                                </ul>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>